Repository Step3-kakao-tech-campus/Team2_BE, pull requests merged in 2023-11, with the labels that each got.

#60 feat: 앨범 페이지 저장 기능 구현
  src/main/java/com/example/team2_be/album/page/AlbumPageController.java
  src/main/java/com/example/team2_be/album/page/AlbumPageJPARepository.java
  src/main/java/com/example/team2_be/album/page/AlbumPageService.java
  src/main/java/com/example/team2_be/album/page/dto/AlbumPageRequestDTO.java
  src/main/java/com/example/team2_be/album/page/image/AlbumPageImage.java
  src/main/java/com/example/team2_be/album/page/image/AlbumPageImageJPARepository.java
  src/main/resources/import.sql
Labels: Domain: Java, Priority: High, Status: Done, Type: Enhancement

#63 fix: JWTAuthenticationFilter 작동 버그 해결
  src/main/java/com/example/team2_be/core/config/SecurityConfig.java
  src/main/java/com/example/team2_be/core/security/JwtAuthenticationFilter.java
Labels: Domain: Java, Priority: High, Status: Done, Type: Bug

#61 feat: 앨범 페이지 조회 기능
  src/main/java/com/example/team2_be/album/page/AlbumPageController.java
  src/main/java/com/example/team2_be/album/page/AlbumPageService.java
  src/main/java/com/example/team2_be/album/page/dto/AlbumPageFindResponseDTO.java
  src/main/java/com/example/team2_be/album/page/image/AlbumPageImageJPARepository.java
Labels: Priority: High

#68 refactor : 앨범 페이지 등록, 수정 기능 구현
  src/main/java/com/example/team2_be/album/page/AlbumPage.java
  src/main/java/com/example/team2_be/album/page/AlbumPageController.java
  src/main/java/com/example/team2_be/album/page/AlbumPageService.java
  src/main/java/com/example/team2_be/album/page/dto/AlbumPageUpdateRequestDTO.java
  src/main/java/com/example/team2_be/album/page/image/AlbumPageImage.java
  src/main/java/com/example/team2_be/core/config/SecurityConfig.java
Labels: Domain: Java, Priority: High, Status: Done, Type: Bug

#72 fix: Unable to retrieve the requested metadata error 해결
  src/main/resources/application.yml
Labels: Domain: Java, Priority: High, Status: Done, Type: Bug

#67 부산대_2조_네모_10주차
  Dockerfile
  build.gradle
  k8s/backend.yaml
  k8s/configs/default.conf
  k8s/configs/init.sql
  k8s/deployment.yaml
  k8s/frontend.yaml
  k8s/kustomization.yaml
  k8s/mariadb.yaml
  k8s/nginx.yaml
  src/main/java/com/example/team2_be/Team2BeApplication.java
  src/main/java/com/example/team2_be/album/page/AlbumPage.java
  src/main/java/com/example/team2_be/album/page/AlbumPageController.java
  src/main/java/com/example/team2_be/album/page/AlbumPageJPARepository.java
  src/main/java/com/example/team2_be/album/page/AlbumPageService.java
  src/main/java/com/example/team2_be/album/page/dto/AlbumPageFindResponseDTO.java
  src/main/java/com/example/team2_be/album/page/dto/AlbumPageUpdateRequestDTO.java
  src/main/java/com/example/team2_be/album/page/image/AlbumPageImage.java
  src/main/java/com/example/team2_be/album/page/image/AlbumPageImageJPARepository.java
  src/main/java/com/example/team2_be/auth/AuthController.java
  src/main/java/com/example/team2_be/auth/AuthService.java
  src/main/java/com/example/team2_be/core/config/RedisRepositoryConfig.java
  src/main/java/com/example/team2_be/core/config/S3Config.java
  src/main/java/com/example/team2_be/core/config/SecurityConfig.java
  src/main/java/com/example/team2_be/core/config/SwaggerConfig.java
  src/main/java/com/example/team2_be/core/security/JwtAuthenticationFilter.java
  src/main/java/com/example/team2_be/reward/RewardJPARepository.java
  src/main/java/com/example/team2_be/trash/Trash.java
  src/main/java/com/example/team2_be/trash/TrashController.java
  src/main/java/com/example/team2_be/trash/TrashJPARepository.java
  src/main/java/com/example/team2_be/trash/TrashService.java
  src/main/java/com/example/team2_be/trash/dto/TrashesFindResponseDTO.java
  src/main/java/com/example/team2_be/user/UserController.java
  src/main/java/com/example/team2_be/user/UserService.java
  src/main/resources/application-pord.yml
  src/main/resources/application-test.yml
  src/main/resources/application.yml
  src/main/resources/import.sql
  개별 앨범 페이지 요청.json.json
Labels: Request Review
