Repository Step3-kakao-tech-campus/Team2_BE, pull requests merged in 2023-10, with the labels that each got.

#7 feat: [#2] Spring Security 설정
  .gitignore
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle
  src/main/java/com/example/team2_be/Team2BeApplication.java
  src/main/java/com/example/team2_be/auth/AuthController.java
  src/main/java/com/example/team2_be/auth/AuthRequest.java
  src/main/java/com/example/team2_be/auth/mail/MailConfig.java
  src/main/java/com/example/team2_be/auth/mail/MailService.java
  src/main/java/com/example/team2_be/auth/security/CustomUserDetails.java
  src/main/java/com/example/team2_be/auth/security/JwtAuthenticationFilter.java
  src/main/java/com/example/team2_be/auth/security/JwtTokenProvider.java
  src/main/java/com/example/team2_be/auth/security/SecurityConfig.java
  src/main/java/com/example/team2_be/config/EmbeddedRedisConfig.java
  src/main/java/com/example/team2_be/config/RedisConfig.java
  src/main/java/com/example/team2_be/core/utils/ApiUtils.java
  src/main/java/com/example/team2_be/core/utils/RedisUtils.java
  src/main/java/com/example/team2_be/kakao/DTO/KakaoAccount.java
  src/main/java/com/example/team2_be/kakao/DTO/KakaoInfo.java
  src/main/java/com/example/team2_be/kakao/DTO/KakaoToken.java
  src/main/java/com/example/team2_be/kakao/DTO/Profile.java
  src/main/java/com/example/team2_be/kakao/KakaoController.java
  src/main/java/com/example/team2_be/kakao/KakaoService.java
  src/main/java/com/example/team2_be/kakao/util/KakaoClient.java
  src/main/java/com/example/team2_be/kakao/util/KakaoFeignConfiguration.java
  src/main/java/com/example/team2_be/user/Role.java
  src/main/java/com/example/team2_be/user/User.java
  src/main/java/com/example/team2_be/user/UserJPARepository.java
  src/main/resources/application.yml
  src/test/java/com/example/team2_be/Team2BeApplicationTests.java
Labels: Domain: Java, Priority: Medium, Status: In Progress, Type: Enhancement

#12 refactor: [#2] Spring Security refactor
  src/main/java/com/example/team2_be/auth/security/JwtTokenProvider.java
  src/main/resources/application.yml
Labels: Domain: Java, Priority: Medium, Status: Available, Type: Enhancement

#23 feat: GlobalExceptionHandler를 사용한 에러 핸들링
  src/main/java/com/example/team2_be/core/error/exception/ApiException.java
  src/main/java/com/example/team2_be/core/error/exception/Exception400.java
  src/main/java/com/example/team2_be/core/error/exception/Exception401.java
  src/main/java/com/example/team2_be/core/error/exception/Exception403.java
  src/main/java/com/example/team2_be/core/error/exception/Exception404.java
  src/main/java/com/example/team2_be/core/error/exception/Exception405.java
  src/main/java/com/example/team2_be/core/error/exception/Exception500.java
  src/main/java/com/example/team2_be/core/error/exception/GlobalExceptionHandler.java
Labels: Domain: Java, Priority: Medium, Status: In Progress, Type: Enhancement

#26 feat: requestDTO 유효성 검사 시 발생하는 에러 공통 처리
  src/main/java/com/example/team2_be/core/error/GlobalValidationHandler.java
Labels: Domain: Java, Priority: Medium, Status: Done, Type: Enhancement

#27 feat: 앨범 멤버 관련 기능 구현 수정
  src/main/java/com/example/team2_be/album/AlbumJPARepository.java
  src/main/java/com/example/team2_be/album/dto/AlbumMemberFindResponseDTO.java
  src/main/java/com/example/team2_be/album/member/AlbumMember.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberController.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberJPARepository.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberService.java
Labels: Domain: Java, Priority: Medium, Status: Done

#41 refactor: 피드백 관련 부분 수정
  build.gradle
  src/main/java/com/example/team2_be/kakao/KakaoService.java
  src/main/java/com/example/team2_be/user/UserService.java
Labels: Domain: Java, Priority: High, Status: In Progress, Type: Enhancement

#40 feat: Error DB에 예기치 못한 오류 INSERT 기능
  src/main/java/com/example/team2_be/core/error/exception/GlobalExceptionHandler.java
  src/main/java/com/example/team2_be/error/Error.java
  src/main/java/com/example/team2_be/error/ErrorJPARepository.java
Labels: Domain: Java, Priority: Medium, Status: Done, Type: Enhancement

#49 refactor: 피드백 관련 부분 수정
  src/main/java/com/example/team2_be/BaseEntity.java
  src/main/java/com/example/team2_be/Team2BeApplication.java
  src/main/java/com/example/team2_be/album/Album.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberService.java
  src/main/java/com/example/team2_be/core/error/GlobalValidationHandler.java
  src/main/java/com/example/team2_be/core/error/exception/BadRequestException.java
  src/main/java/com/example/team2_be/core/error/exception/ForbiddenException.java
  src/main/java/com/example/team2_be/core/error/exception/GlobalExceptionHandler.java
  src/main/java/com/example/team2_be/core/error/exception/InternalSeverErrorException.java
  src/main/java/com/example/team2_be/core/error/exception/MethodNotAllowedException.java
  src/main/java/com/example/team2_be/core/error/exception/NotFoundException.java
  src/main/java/com/example/team2_be/core/error/exception/UnauthorizedException.java
  src/main/java/com/example/team2_be/error/Error.java
  src/main/java/com/example/team2_be/reward/Reward.java
  src/main/java/com/example/team2_be/reward/progress/Progress.java
  src/main/java/com/example/team2_be/title/Title.java
  src/main/java/com/example/team2_be/title/collection/Collection.java
  src/main/java/com/example/team2_be/user/User.java
  src/main/java/com/example/team2_be/user/UserService.java
Labels: Domain: Java, Priority: High, Status: Done, Type: Enhancement

#44 refactor: 앨범 멤버 관련 기능 수정
  src/main/java/com/example/team2_be/album/member/AlbumMember.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberController.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberJPARepository.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberService.java
Labels: Domain: Java, Priority: Low, Status: Done

#45 feat: 소셜로그인 기능 구현
  src/main/java/com/example/team2_be/auth/AuthController.java
  src/main/java/com/example/team2_be/auth/AuthService.java
  src/main/java/com/example/team2_be/auth/GoogleAuthClient.java
  src/main/java/com/example/team2_be/auth/KakaoAuthClient.java
  src/main/java/com/example/team2_be/auth/dto/UserAccountDTO.java
  src/main/java/com/example/team2_be/auth/dto/google/GoogleAccessTokenRequestDTO.java
  src/main/java/com/example/team2_be/auth/dto/google/GoogleAccountDTO.java
  src/main/java/com/example/team2_be/auth/dto/google/GoogleTokenDTO.java
  src/main/java/com/example/team2_be/auth/dto/kakao/KakaoAccessTokenRequestDTO.java
  src/main/java/com/example/team2_be/auth/dto/kakao/KakaoAccountDTO.java
  src/main/java/com/example/team2_be/auth/dto/kakao/KakaoTokenDTO.java
  src/main/java/com/example/team2_be/core/config/AuthFeignConfig.java
  src/main/java/com/example/team2_be/core/config/KakaoFeignConfig.java
  src/main/java/com/example/team2_be/core/config/SecurityConfig.java
  src/main/java/com/example/team2_be/kakao/KakaoClient.java
  src/main/java/com/example/team2_be/kakao/KakaoController.java
  src/main/java/com/example/team2_be/kakao/KakaoService.java
  src/main/java/com/example/team2_be/kakao/dto/KakaoAccount.java
  src/main/java/com/example/team2_be/kakao/dto/Profile.java
  src/main/java/com/example/team2_be/user/UserService.java
  src/main/resources/application.yml
Labels: Domain: Java, Priority: High, Status: Done, Type: Enhancement

#43 refactor: 앨범 관련 기능
  src/main/java/com/example/team2_be/album/AlbumController.java
  src/main/java/com/example/team2_be/album/AlbumJPARepository.java
  src/main/java/com/example/team2_be/album/AlbumService.java
Labels: Domain: Java, Priority: Medium, Status: Done

#51 부산대_2조_네모_6주차
  build.gradle
  src/main/java/com/example/team2_be/BaseEntity.java
  src/main/java/com/example/team2_be/Team2BeApplication.java
  src/main/java/com/example/team2_be/album/Album.java
  src/main/java/com/example/team2_be/album/AlbumController.java
  src/main/java/com/example/team2_be/album/AlbumJPARepository.java
  src/main/java/com/example/team2_be/album/AlbumService.java
  src/main/java/com/example/team2_be/album/member/AlbumMember.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberController.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberJPARepository.java
  src/main/java/com/example/team2_be/album/member/AlbumMemberService.java
  src/main/java/com/example/team2_be/auth/AuthController.java
  src/main/java/com/example/team2_be/auth/AuthService.java
  src/main/java/com/example/team2_be/auth/GoogleAuthClient.java
  src/main/java/com/example/team2_be/auth/KakaoAuthClient.java
  src/main/java/com/example/team2_be/auth/dto/UserAccountDTO.java
  src/main/java/com/example/team2_be/auth/dto/google/GoogleAccessTokenRequestDTO.java
  src/main/java/com/example/team2_be/auth/dto/google/GoogleAccountDTO.java
  src/main/java/com/example/team2_be/auth/dto/google/GoogleTokenDTO.java
  src/main/java/com/example/team2_be/auth/dto/kakao/KakaoAccessTokenRequestDTO.java
  src/main/java/com/example/team2_be/auth/dto/kakao/KakaoAccountDTO.java
  src/main/java/com/example/team2_be/auth/dto/kakao/KakaoTokenDTO.java
  src/main/java/com/example/team2_be/core/config/AuthFeignConfig.java
  src/main/java/com/example/team2_be/core/config/KakaoFeignConfig.java
  src/main/java/com/example/team2_be/core/config/SecurityConfig.java
  src/main/java/com/example/team2_be/core/error/GlobalValidationHandler.java
  src/main/java/com/example/team2_be/core/error/exception/BadRequestException.java
  src/main/java/com/example/team2_be/core/error/exception/ForbiddenException.java
  src/main/java/com/example/team2_be/core/error/exception/GlobalExceptionHandler.java
  src/main/java/com/example/team2_be/core/error/exception/InternalSeverErrorException.java
  src/main/java/com/example/team2_be/core/error/exception/MethodNotAllowedException.java
  src/main/java/com/example/team2_be/core/error/exception/NotFoundException.java
  src/main/java/com/example/team2_be/core/error/exception/UnauthorizedException.java
  src/main/java/com/example/team2_be/error/Error.java
  src/main/java/com/example/team2_be/error/ErrorJPARepository.java
  src/main/java/com/example/team2_be/kakao/KakaoClient.java
  src/main/java/com/example/team2_be/kakao/KakaoController.java
  src/main/java/com/example/team2_be/kakao/KakaoService.java
  src/main/java/com/example/team2_be/kakao/dto/KakaoAccount.java
  src/main/java/com/example/team2_be/kakao/dto/Profile.java
  src/main/java/com/example/team2_be/reward/Reward.java
  src/main/java/com/example/team2_be/reward/progress/Progress.java
  src/main/java/com/example/team2_be/title/Title.java
  src/main/java/com/example/team2_be/title/collection/Collection.java
  src/main/java/com/example/team2_be/user/User.java
  src/main/java/com/example/team2_be/user/UserService.java
  src/main/resources/application.yml
  src/test/java/com/example/team2_be/user/UserIntegrationTest.java
Labels: Request Review

#53 feat: 휴지통 관련 기능 구현
  src/main/java/com/example/team2_be/album/page/AlbumPage.java
  src/main/java/com/example/team2_be/trash/Trash.java
  src/main/java/com/example/team2_be/trash/TrashController.java
  src/main/java/com/example/team2_be/trash/TrashJPARepository.java
  src/main/java/com/example/team2_be/trash/TrashService.java
  src/main/java/com/example/team2_be/trash/dto/TrashesFindResponseDTO.java
Labels: Domain: Java, Priority: Medium, Status: Available, Type: Enhancement

#55 부산대_2조_네모_7주차
  src/main/java/com/example/team2_be/album/AlbumService.java
  src/main/java/com/example/team2_be/album/page/AlbumPage.java
  src/main/java/com/example/team2_be/auth/AuthService.java
  src/main/java/com/example/team2_be/trash/Trash.java
  src/main/java/com/example/team2_be/trash/TrashController.java
  src/main/java/com/example/team2_be/trash/TrashJPARepository.java
  src/main/java/com/example/team2_be/trash/TrashService.java
  src/main/java/com/example/team2_be/trash/dto/TrashesFindResponseDTO.java
Labels: Request Review

#48 feat: Swagger 환경설정
  build.gradle
  src/main/java/com/example/team2_be/core/config/SecurityConfig.java
  src/main/java/com/example/team2_be/core/config/SwaggerConfig.java
  src/main/java/com/example/team2_be/user/UserController.java
  src/main/resources/application-test.yml
  src/main/resources/application.yml
Labels: Domain: Java, Priority: High, Status: Done
